In [11]:
import pandas as pd

In [12]:
name=pd.Series(["Dev","Indra","Bakhati"])
salary=pd.Series([1000,2000,3000])

In [13]:
df=pd.DataFrame({"Name":name,"Salary":salary})

In [14]:
df

      Name  Salary
0      Dev    1000
1    Indra    2000
2  Bakhati    3000

# Drop to delete columns

In [17]:
df=df.drop(columns="Salary")

In [18]:
df

      Name
0      Dev
1    Indra
2  Bakhati